:root {
  --background: hsl(60, 9%, 98%);
  --foreground: hsl(20, 6%, 16%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(60, 9%, 7%);
    --foreground: hsl(60, 6%, 96%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  width: 100%;
}

.textimation-correctChar {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.textimation-incorrectChar {
  transition: all 0.2s ease-in-out;
  opacity: 0.2;
}
